---
import "@fontsource/nunito";

import { Header } from "../components/Header";
import { HeroSection } from "../components/HeroSection";
import { WindScore } from "../components/WindScore";
---

<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Análise automatizada do mercado acionário brasileiro."
    />
    <title>Wind Invest</title>
  </head>

  <body class="font-nunito bg-gray-950 text-gray-50 min-h-screen">
    <main>
      <section class="h-[90vh] flex flex-col">
        <Header />
        <HeroSection />
      </section>

      <WindScore />
    </main>
  </body>
</html>
