---
import "@fontsource/nunito";
import "@fontsource/nunito/400.css";
import "@fontsource/nunito/500.css";
import "@fontsource/nunito/600.css";
import "@fontsource/nunito/700.css";
import "@fontsource/nunito/800.css";
import "@fontsource/nunito/900.css";

import { CallToActionOne } from "../components/CallToActionOne";
import { GrahamPrice } from "../components/GrahamPrice";
import { Header } from "../components/Header";
import { HeroSection } from "../components/HeroSection";
import { Ranking } from "../components/Ranking";
import { WindScore } from "../components/WindScore";
---

<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Análise automatizada do mercado acionário brasileiro."
    />
    <title>Wind Invest</title>
  </head>

  <body class="font-nunito bg-[#000B11] text-gray-50 min-h-screen">
    <main>
      <section class="h-[90vh] flex flex-col">
        <Header />
        <HeroSection />
      </section>

      <WindScore />
      <CallToActionOne />
      <GrahamPrice />
      <Ranking />
    </main>
  </body>
</html>
